﻿@using PMO_Monitoring.viewmodel
@model VMTrxDaftarAktifitas

@{
    Layout = null;
}


<form class="mt-4" id="edit">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3 row">
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
                    <input type="hidden" class="form-control" id="Divisiid" name="Divisiid" value="@Model.Divisiid" readonly>
                </div>

            </div>
            <div class="mb-3 row">
                <label for="NamaDivisi" class="col-sm-4 col-from-label">Divisi</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NamaDivisi" name="NamaDivisi" value="@Model.NamaDivisi" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Projectid" class="col-sm-4 col-from-label">Project Name</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(x=>x.Projectid,
                    new SelectList(ViewBag.DropDownProject,"Id","Projectname"),
                    "--Pilih Project--",
                    new{@class="form-control"})
                    <span asp-validation-for="Projectid" class="text-danger"></span>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="Urutan" class="col-sm-4 col-from-label">Urutan</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="Urutan" name="Urutan" value="@Model.Urutan"></input>
                    <span asp-validation-for="Urutan" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Aktifitas" class="col-sm-4 col-from-label">Aktifitas</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Aktifitas" name="Aktifitas" value="@Model.Aktifitas"></input>
                    <span asp-validation-for="Aktifitas" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Keterangan" class="col-sm-4 col-from-label">Keterangan</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Keterangan" name="Keterangan" value="@Model.Keterangan"></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Status" class="col-sm-4 col-from-label">Status</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(x=>x.Status,
                    new SelectList(ViewBag.DropDownStatus,"Id","Keterangan"),
                    "--Pilih Status--",
                    new{@class="form-control"})
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Startdate" class="col-sm-4 col-from-label">Startdate</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Startdate" name="Startdate" value="@Model.Startdate.ToString("yyyy/MM/dd")"></input>
                    <span asp-validation-for="Startdate" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Enddate" class="col-sm-4 col-from-label">Enddate</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Enddate" name="Enddate" value="@Model.Enddate.ToString("yyyy/MM/dd")"></input>
                    <span asp-validation-for="Enddate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3 row">
                <label for="ActualStartdate" class="col-sm-4 col-from-label">Actual Startdate</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ActualStartdate" name="ActualStartdate" value="@Model.ActualStartdate?.ToString("yyyy/MM/dd")"></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ActualEnddate" class="col-sm-4 col-from-label">Actual Enddate</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ActualEnddate" name="ActualEnddate" value="@Model.ActualEnddate?.ToString("yyyy/MM/dd")"></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Progress" class="col-sm-4 col-from-label">Progress</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Progress" name="Progress" value="@Model.Progress" readonly></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="StrActuallProgress" class="col-sm-4 col-from-label">Actual Progress</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="StrActuallProgress" name="StrActuallProgress" value="@Model.StrActuallProgress"></input>
                    <span asp-validation-for="StrActuallProgress" id="validate_StrActuallProgress" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right">
        <a asp-action="Index" class="btn btn-light">Batal</a>
        <button type="submit" class="btn btn-primary" id="ubah">Simpan</button>
    </div>
</form>



<script>
    debugger
    var minDate = $("#Startdate").val();
    var maxDate = $("#Enddate").val();

    $('#Startdate').datepicker({
        format: 'yyyy/MM/dd'
    });
    $('#Enddate').datepicker({
        format: 'yyyy/MM/dd'
    });
    $('#ActualStartdate').datepicker({
        format: 'yyyy/MM/dd'
    });
    $('#ActualEnddate').datepicker({
        format: 'yyyy/MM/dd'
    });

    $("#Startdate").datepicker('setEndDate', maxDate);
    $("#Enddate").datepicker('setStartDate', minDate);
    $("#ActualStartdate").datepicker();
    $("#ActualEnddate").datepicker();


    $("#Startdate").change(function () {
        var val = $(this).val()
        $("#Enddate").datepicker('setStartDate', val);
    })
    $("#Enddate").change(function () {
        var val = $(this).val()
        $("#Startdate").datepicker('setEndDate', val);
    })

    $(document).ready(function () {
        var isvalid = true
        $("#edit").validate({
            errorClass: "text-danger",
            rules: {
                Divisiid: {
                    required: true,
                },
                Projectid: {
                    required: true,
                },
                Urutan: {
                    required: true,
                },
                Aktifitas: {
                    required: true,
                    minlength: 2
                },
                Status: {
                    required: true,
                },
                Startdate: {
                    required: true,
                },
                Enddate: {
                    required: true,
                }
            },
            messages: {
                Divisiid: {
                    required: "Please fill the Divisi",
                },
                Projectid: {
                    required: "Please fill the Division",
                },
                Urutan: {
                    required: "Please fill the Urutan",
                },
                Aktifitas: {
                    required: "Please fill the Aktifitas",
                },
                Status: {
                    required: "Please fill the Status",
                },
                Startdate: "Please fill the Startdate",
                Enddate: {
                    required: "Please fill the Enddate",
                }
            },
            submitHandler: function (form) {
                debugger
                var data = $("#edit").serialize()
                if (isvalid) {
                    $.ajax({
                        url: "/TrxDaftarAktifitas/Edit",
                        data: data,
                        type: 'post',
                        dataType: "json",
                        success: function (respon) {
                            debugger
                            if (respon) {
                                alert(respon.message)
                                window.location.reload()
                            }
                            else
                            {
                                alert(respon.message)
                            }
                        }
                    })
                }
                else {
                    alert("Data tidak Berhasil Disimpan")
                }
            }
        })
        $("#StrActuallProgress").change(function () {
            debugger
            var progress = $(this).val()
            var id = $("#Id").val()
            $.ajax({
                url: "/TrxDaftarAktifitas/CheckProgress",
                data: { progress: progress, id: id },
                dataType: "json",
                success: function (respon) {
                    debugger
                    if (respon) {
                        $("#validate_StrActuallProgress").text("Melebihi Maksimum Progress")
                        isvalid = false
                    }
                    else {
                        $("#validate_StrActuallProgress").empty()
                        isvalid = true
                    }
                }
            })
        })
    })


</script>