@using PMO_Monitoring.viewmodel
@model VMMstWorkflow

@{
    Layout = null;
}
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
            <div class="mb-3 row">
                <label for="Menuid" class="col-sm-4 col-from-label">Menu Id</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Menuid" name="Menuid" value="@Model.Menuid" readonly></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NamaMenu" class="col-sm-4 col-from-label">Menu</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="NamaMenu" name="NamaMenu" value="@Model.NamaMenu" readonly></input>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="Sequence" class="col-sm-4 col-from-label">Sequence</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Sequence" name="Sequence" value="@Model.Sequence" readonly></input>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="Jabatanid" class="col-sm-4 col-from-label">Jabatan Id</label>
                <div class="col-sm-8">
                <input type="number" class="form-control" id="Jabatanid" name="Jabatanid" value="@Model.Jabatanid" readonly></input>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="NamaJabatan" class="col-sm-4 col-from-label">Nama Jabatan</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="NamaJabatan" name="NamaJabatan" value="@Model.NamaJabatan" readonly></input>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3 row">
                <label for="Createdby" class="col-sm-4 col-from-label">CreateBy</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Createdby" name="Createdby" value="@Model.Createdby" readonly></input>
                </div>

            </div>
            <div class="mb-3 row">
                <label for="Createddate" class="col-sm-4 col-from-label">CreateDate</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Createddate" name="Createddate" value="@Model.Createddate" readonly></input>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Updatedby" class="col-sm-4 col-from-label">UpdatedBy</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Updatedby" name="Updatedby" value="@Model.Updatedby" readonly></input>
                </div>

            </div>
            <div class="mb-3 row">
                <label for="Updateddate" class="col-sm-4 col-from-label">UpdatedDate</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Updateddate" name="Updateddate" value="@Model.Updateddate" readonly></input>
                </div>
            </div>
        </div>
    </div>

